body {
    margin-top: 60px;
}

.progress-20-div {
    height: 20px;
}

.border-md-right {
    border-right: 1px solid silver;
}

@media (max-width: 768px) {
    .border-md-right {
        border-right: none;
    }
}

.border-md-left {
    border-left: 1px solid silver;
}

@media (max-width: 768px) {
    .border-md-left {
        border-left: none;
    }
}