<!DOCTYPE html>
<html lang="en" data-lt-installed="true">

<head class="w-100">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="xhico"/>
    <title></title>

    <!-- Favicon-->
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- JQuery -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

    <!-- GaugeJs -->
    <script src="{{ url_for('static', filename='js/gauge.min.js') }}"></script>

    <!-- Custom -->
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet"/>

</head>

<body>

<!-- Config Modal -->
<div class="modal fade" id="configModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="configLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Configuration</h5>
            </div>
            <div class="modal-body">

                <div class="row border-bottom">
                    <div class="col mb-2">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" onclick="setShowBots()" id="config_showBots">
                            <label class="form-check-label" for="config_showBots">Show Bots</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="config_showHistory">
                            <label class="form-check-label" for="config_showHistory">Show History</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="config_showEYE">
                            <label class="form-check-label" for="config_showEYE">Show EYE</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col mt-2">
                        <div id="divConfig_updateStats" class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="config_updateStats">
                            <label class="form-check-label" for="config_updateStats">Update Stats</label>
                        </div>
                        <div id="divConfig_updateBots" class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="config_updateBots">
                            <label class="form-check-label" for="config_updateBots">Update Bots</label>
                        </div>
                        <div id="divConfig_updateTime" class="input-group mt-2">
                            <span class="input-group-text">Secs</span>
                            <label><input type="number" class="form-control" id="config_updateTime" value="2" min="1"></label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal" onclick="saveConfig()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Power Modal -->
<div class="modal fade" id="powerModal" tabindex="-1" aria-labelledby="powerLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Power</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row border-bottom m-auto w-75">
                    <button type="button" class="btn btn-warning mb-2" onclick="power('restart')">Restart</button>
                    <button type="button" class="btn btn-warning mb-2" onclick="power('reboot')">Reboot</button>
                    <button type="button" class="btn btn-danger" onclick="power('poweroff')">Power off</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-2">
    <div class="container-fluid">
        <a id="navbrand_link" class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="rpi-logo"/>&nbsp;RPi-Monitor
            <sub id="Hostname"></sub>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav border-md-left border-md-top">
                <li class="nav-item"><a id="navbar_stats" class="nav-link" href="/stats">Stats</a></li>
                <li class="nav-item"><a id="navbar_bots" class="nav-link" href="/bots">Bots</a></li>
                <li class="nav-item"><a id="navbar_history" class="nav-link" href="/history">History</a></li>
                <li class="nav-item"><a id="navbar_eye" class="nav-link" href="/eye">EYE</a></li>
            </ul>
            <ul class="navbar-nav ms-auto border-md-right border-md-top">
                <li class="nav-item"><a id="navbar_config" class="nav-link active" data-bs-toggle="modal" data-bs-target="#configModal" href="javascript:void(0);">Configuration</a></li>
            </ul>
            <ul class="navbar-nav border-md-right border-md-top">
                <li class="nav-item"><span class="nav-link active" id="navDateNow"></span></li>
            </ul>
            <ul class="navbar-nav border-md-top">
                <li class="nav-item"><a id="navbar_power" class="nav-link active" data-bs-toggle="modal" data-bs-target="#powerModal" href="javascript:void(0);">Power</a></li>
            </ul>
        </div>

    </div>
</nav>

<!-- Begin page content -->
<main class="container-fluid column-fluid flex-shrink-0">
    <div class="row" id="content">
        {% block content %}{% endblock %}
    </div>
</main>

<!-- Scripts -->
{% block script %}{% endblock %}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>

</html>