{% extends 'base.html' %}

{% block title %}Bots{% endblock %}

{% block content %}
    <!-- View Bot Config Modal -->
    <div class="modal fade" id="botConfigModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><span id="modalConfigTitle"></span> Config</h5>
                    <div class="ml-auto">
                        <button onclick="editConfig()" id="configEditBtn" type="button" class="btn btn-danger">Edit</button>
                        <button hidden onclick="saveConfig()" id="configSaveBtn" type="button" class="btn btn-success">Save</button>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                </div>
                <label for="modalConfigBodyText"></label>
                <textarea readonly id="modalConfigBodyText" class="modal-body bg-success bg-opacity-25"></textarea>
            </div>
        </div>
    </div>

    <!-- View Bot Log Modal -->
    <div class="modal fade" id="botLogModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><span id="modalLogTitle"></span> Log</h5>
                    <div class="ml-auto">
                        <button type="button" class="btn btn-secondary" onclick="loadFile('FullLog','')">View Full Log</button>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                </div>
                <label for="modalLogBodyText"></label>
                <div id="modalLogBodyText" class="modal-body"></div>
            </div>
        </div>
    </div>

    <!-- View Bot Saved Info Modal -->
    <div class="modal fade" id="botSavedInfoModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><span id="modalSavedInfoTitle"></span> Saved Info</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <label for="modalSavedInfoBodyText"></label>
                <textarea readonly id="modalSavedInfoBodyText" class="modal-body"></textarea>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/bots.js') }}"></script>
{% endblock %}