{% extends 'base.html' %}

{% block content %}

    <div class="col-xl-8 col-md-12 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Configuration File</h5>
                <textarea disabled class="form-control" id="configurationArea"></textarea>
            </div>
        </div>
    </div>

    <!-- Right Pane -->
    <div class="col-xl-4 col-md-12 mb-4">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Actions</h5>
                        <button id="toggleEditConfigurationAreaBtn" type="button" class="btn btn-danger" onclick="toggleEditConfigurationArea()">Edit</button>
                        <button id="saveConfigJSONBtn" type="button" class="btn btn-success" onclick="saveConfigJSON()">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Bots</h5>
                        <div class="input-group mb-3">
                            <input id="addBotText" type="text" class="form-control" placeholder="Bot Folder name" aria-label="Bot Folder name" aria-describedby="addBot">
                            <button class="btn btn-outline-success" type="button" id="addBotBtn" onclick="addBot()">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/configuration.js') }}"></script>
    <script>

    </script>
{% endblock %}