{% extends 'base.html' %}

{% block title %}Configuration{% endblock %}

{% block content %}

    <!-- Left Pane -->
    <div class="col-xl-4 col-md-12">

        <!-- Configuration File -->
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Configuration File</h5>
                        <label hidden for="configurationArea">Configuration Area</label>
                        <textarea disabled class="form-control" id="configurationArea"></textarea>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Right Pane -->
    <div class="col-xl-8 col-md-12">
        <!-- File-Actions -->
        <!-- Location -->
        <div class="row">
            <div class="col-xl-6 col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">File Actions</h5>
                        <button id="toggleEditConfigurationAreaBtn" type="button" class="btn btn-danger" onclick="toggleEditConfigurationArea()">Edit</button>
                        <button id="saveConfigJSONBtn" type="button" class="btn btn-success" onclick="saveConfigJSON()">Save</button>
                        <button id="downloadConfigBtn" type="button" class="btn btn-success" onclick="downloadConfig()">Download</button>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Location</h5>
                        <div class="input-group flex-nowrap mb-3">
                            <input id="location" class="form-control" type="text" placeholder="RPi Location" aria-label="RPi Location" aria-describedby="location">
                            <button class="btn btn-success" type="button" id="locationBtn" onclick="setLocation()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Auto-Update -->
        <!-- Navigation -->
        <div class="row">
            <div class="col-xl-6 col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Auto-Update Sections</h5>

                        <div class="input-group flex-nowrap mb-3">
                            <input disabled class="form-control" type="text" placeholder="Stats" aria-label="Stats" aria-describedby="Stats" value="Stats">
                            <input type="radio" class="btn-check" name="updateStatsOptions" id="updateStatsEnabledBtn" autocomplete="off" checked>
                            <label class="btn btn-outline-success" for="updateStatsEnabledBtn">Enabled</label>
                            <input type="radio" class="btn-check" name="updateStatsOptions" id="updateStatsDisabledBtn" autocomplete="off">
                            <label class="btn btn-outline-danger" for="updateStatsDisabledBtn">Disabled</label>
                        </div>

                        <div class="input-group flex-nowrap mb-3">
                            <input disabled class="form-control" type="text" placeholder="Bots" aria-label="Bots" aria-describedby="Bots" value="Bots">
                            <input type="radio" class="btn-check" name="updateBotsOptions" id="updateBotsEnabledBtn" autocomplete="off" checked>
                            <label class="btn btn-outline-success" for="updateBotsEnabledBtn">Enabled</label>
                            <input type="radio" class="btn-check" name="updateBotsOptions" id="updateBotsDisabledBtn" autocomplete="off">
                            <label class="btn btn-outline-danger" for="updateBotsDisabledBtn">Disabled</label>
                        </div>

                        <div class="input-group flex-nowrap mb-3">
                            <input disabled class="form-control" type="text" placeholder="TOP" aria-label="TOP" aria-describedby="TOP" value="TOP">
                            <input type="radio" class="btn-check" name="updateTopOptions" id="updateTopEnabledBtn" autocomplete="off" checked>
                            <label class="btn btn-outline-success" for="updateTopEnabledBtn">Enabled</label>
                            <input type="radio" class="btn-check" name="updateTopOptions" id="updateTopDisabledBtn" autocomplete="off">
                            <label class="btn btn-outline-danger" for="updateTopDisabledBtn">Disabled</label>
                        </div>

                        <div class="input-group flex-nowrap">
                            <input id="updateTime" class="form-control" type="number" min="1" placeholder="Update Time" aria-label="Update Time" aria-describedby="updateTime">
                            <button class="btn btn-success" type="button" id="updateTimeBtn" onclick="setUpdateTime()">Save</button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Navigation</h5>

                        <div class="input-group flex-nowrap mb-3">
                            <input disabled class="form-control" type="text" placeholder="EYE" aria-label="EYE" aria-describedby="EYE" value="EYE">
                            <input type="radio" class="btn-check" name="eyeOptions" id="eyeEnabledBtn" autocomplete="off" checked>
                            <label class="btn btn-outline-success" for="eyeEnabledBtn">Enabled</label>
                            <input type="radio" class="btn-check" name="eyeOptions" id="eyeDisabledBtn" autocomplete="off">
                            <label class="btn btn-outline-danger" for="eyeDisabledBtn">Disabled</label>
                        </div>

                        <div class="input-group flex-nowrap mb-3">
                            <input disabled class="form-control" type="text" placeholder="PiVPN" aria-label="PiVPN" aria-describedby="PiVPN" value="PiVPN">
                            <input type="radio" class="btn-check" name="pivpnOptions" id="pivpnEnabledBtn" autocomplete="off" checked>
                            <label class="btn btn-outline-success" for="pivpnEnabledBtn">Enabled</label>
                            <input type="radio" class="btn-check" name="pivpnOptions" id="pivpnDisabledBtn" autocomplete="off">
                            <label class="btn btn-outline-danger" for="pivpnDisabledBtn">Disabled</label>
                        </div>

                        <div class="input-group flex-nowrap">
                            <input disabled class="form-control" type="text" placeholder="LED IR Controller" aria-label="LED IR Controller" aria-describedby="LED IR Controller" value="LED IR Controller">
                            <input type="radio" class="btn-check" name="ledircontrollerOptions" id="ledircontrollerEnabledBtn" autocomplete="off" checked>
                            <label class="btn btn-outline-success" for="ledircontrollerEnabledBtn">Enabled</label>
                            <input type="radio" class="btn-check" name="ledircontrollerOptions" id="ledircontrollerDisabledBtn" autocomplete="off">
                            <label class="btn btn-outline-danger" for="ledircontrollerDisabledBtn">Disabled</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bots -->
        <!-- About -->
        <div class="row">
            <div class="col-xl-6 col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Bots</h5>
                        <div class="input-group flex-nowrap mb-3">
                            <input id="manageBot" type="text" class="form-control" placeholder="Folder name" aria-label="Folder name" aria-describedby="manageBot">
                            <button class="btn btn-success" type="button" id="addBotBtn" onclick="manageBot('add')">Add</button>
                            <button class="btn btn-outline-danger" type="button" id="removeBotBtn" onclick="manageBot('remove')">Remove</button>
                        </div>
                        <div class="input-group flex-nowrap mb-3">
                            <input id="numberOfBotsLogs" class="form-control" type="number" min="1" placeholder="Number Logs" aria-label="Number Logs" aria-describedby="numberOfBotsLogs">
                            <button class="btn btn-success" type="button" id="numberOfBotsLogsBtn" onclick="setNumberOfBotsLogs()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">CPU Temperature</h5>
                        <div class="input-group">
                            <span class="input-group-text">Range</span>
                            <input type="number" min="0" max="100" aria-label="CPU Temperature Low Min" class="form-control" id="CPUTemperatureLowMin">
                            <input type="number" min="0" max="100" aria-label="CPU Temperature Low Max" class="form-control" id="CPUTemperatureLowMax">
                            <input type="number" min="0" max="100" aria-label="CPU Temperature Medium Max" class="form-control" id="CPUTemperatureMediumMax">
                            <input type="number" min="0" max="100" aria-label="CPU Temperature High Max" class="form-control" id="CPUTemperatureHighMax">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- About -->
        <div class="row">
            <div class="col-xl-6 col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">About</h5>
                        <p class="card-text">Francisco 'xhico' Filipe | <a class="card-link" target="_blank" href="https://github.com/xhico">GitHub</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/configuration.js') }}"></script>
{% endblock %}