{% extends 'base.html' %}

{% block content %}

    <!-- Cronjobs -->
    <div class="col-xl-6 col-md-12 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Crontab</h5>
                <div id="cronjobs"></div>
            </div>
        </div>
    </div>

    <!-- Right Pane -->
    <div class="col-xl-6 col-md-12 mb-4">
        <!-- Actions -->
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Actions</h5>
                        <button type="button" class="btn btn-success" onclick="addJob()">Add</button>
                        <button type="button" class="btn btn-success" onclick="downloadCrontab()">Download</button>
                        <button type="button" class="btn btn-danger" onclick="saveCrontab()">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Information -->
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Useful</h5>
                        <a href="https://crontab.guru/" target="_blank">crontab.guru</a>
                        <br>
                        <a href="https://crontab.guru/examples.html" target="_blank">Examples</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/crontab.js') }}"></script>
{% endblock %}