{% extends 'base.html' %}

{% block title %}EYE{% endblock %}

{% block content %}

    <!-- Recording Modal -->
    <div class="modal fade" id="recordingModal" tabindex="-1" aria-labelledby="recordingModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="recordingModalTitle"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="recBody"></div>
            </div>
        </div>
    </div>

    <!-- Left Pane -->
    <div class="col-xl-8 order-lg-1 order-2 mb-4">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">EYE Recordings - <span id="dayFolderName"></span></h5>
                        <div class="row row-cols-auto row-cols-lg-3 row-cols-md-2 g-4" id="recordings"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Right Pane -->
    <div class="col-xl-4 order-lg-2 order-1">
        <!-- Overview -->
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Overview</h5>
                        <div class="list-group" id="overviewListGroup"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/eye.js') }}"></script>
{% endblock %}

