{% extends 'base.html' %}

{% block content %}

    <!-- Recording Modal -->
    <div class="modal fade" id="recordingModal" tabindex="-1" aria-labelledby="recordingModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="recordingModalTitle">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="recBody"></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/eye.js') }}"></script>
{% endblock %}

