{% extends 'base.html' %}

{% block title %}LED Controller{% endblock %}

{% block content %}

    <!-- Colors -->
    <div class="col-xl-8 col-md-12 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Colors</h5>

                <div class="container text-center">

                    <div class="row mb-2">
                        <div class="col d-grid gap-2">
                            <button type="button" onclick="clickBtn(this)" class="btn btn-lg border py-5 btn-red">Red</button>
                        </div>
                        <div class="col d-grid gap-2">
                            <button type="button" onclick="clickBtn(this)" class="btn btn-lg border py-5 btn-green">Green</button>
                        </div>
                        <div class="col d-grid gap-2">
                            <button type="button" onclick="clickBtn(this)" class="btn btn-lg border py-5 btn-blue">Blue</button>
                        </div>
                        <div class="col d-grid gap-2">
                            <button type="button" onclick="clickBtn(this)" class="btn btn-lg border py-5 btn-while">White</button>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col d-grid gap-2">
                            <button type="button" onclick="clickBtn(this)" class="btn btn-lg border py-5 btn-orange">Orange</button>
                        </div>
                        <div class="col d-grid gap-2">
                            <button type="button" onclick="clickBtn(this)" class="btn btn-lg border py-5 btn-green-light">Green Light</button>
                        </div>
                        <div class="col d-grid gap-2">
                            <button type="button" onclick="clickBtn(this)" class="btn btn-lg border py-5 btn-blue-light">Blue Light</button>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col d-grid gap-2">
                            <button type="button" onclick="clickBtn(this)" class="btn btn-lg border py-5 btn-orange-light">Orange Light</button>
                        </div>
                        <div class="col d-grid gap-2">
                            <button type="button" onclick="clickBtn(this)" class="btn btn-lg border py-5 btn-cyan">Cyan</button>
                        </div>
                        <div class="col d-grid gap-2">
                            <button type="button" onclick="clickBtn(this)" class="btn btn-lg border py-5 btn-purple">Purple</button>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col d-grid gap-2">
                            <button type="button" onclick="clickBtn(this)" class="btn btn-lg border py-5 btn-yellow-high">Yellow High</button>
                        </div>
                        <div class="col d-grid gap-2">
                            <button type="button" onclick="clickBtn(this)" class="btn btn-lg border py-5 btn-cyan-high">Cyan High</button>
                        </div>
                        <div class="col d-grid gap-2">
                            <button type="button" onclick="clickBtn(this)" class="btn btn-lg border py-5 btn-purple-light">Purple Light</button>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col d-grid gap-2">
                            <button type="button" onclick="clickBtn(this)" class="btn btn-lg border py-5 btn-yellow">Yellow</button>
                        </div>
                        <div class="col d-grid gap-2">
                            <button type="button" onclick="clickBtn(this)" class="btn btn-lg border py-5 btn-cyan-green">Cyan Green</button>
                        </div>
                        <div class="col d-grid gap-2">
                            <button type="button" onclick="clickBtn(this)" class="btn btn-lg border py-5 btn-pink">Pink</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Right Pane -->
    <div class="col-xl-4 col-md-12 mb-4">

        <!-- Power -->
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Power</h5>

                        <div class="container text-center">
                            <div class="row mb-2">
                                <div class="col d-grid gap-2">
                                    <button type="button" onclick="clickBtn(this)" class="btn btn-lg border btn-success">On</button>
                                </div>
                                <div class="col d-grid gap-2">
                                    <button type="button" onclick="clickBtn(this)" class="btn btn-lg border btn-danger">Off</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Modes -->
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Modes</h5>

                        <div class="container text-center">
                            <div class="row mb-2">
                                <div class="col d-grid gap-2">
                                    <button type="button" onclick="clickBtn(this)" class="btn btn-lg border btn-outline-dark">Light Min</button>
                                </div>
                                <div class="col d-grid gap-2">
                                    <button type="button" onclick="clickBtn(this)" class="btn btn-lg border btn-outline-dark">Light Max</button>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col d-grid gap-2">
                                    <button type="button" onclick="clickBtn(this)" class="btn btn-lg border btn-outline-dark">Fade</button>
                                </div>
                                <div class="col d-grid gap-2">
                                    <button type="button" onclick="clickBtn(this)" class="btn btn-lg border btn-outline-dark">Smooth</button>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col d-grid gap-2">
                                    <button type="button" onclick="clickBtn(this)" class="btn btn-lg border btn-outline-dark">Flash</button>
                                </div>
                                <div class="col d-grid gap-2">
                                    <button type="button" onclick="clickBtn(this)" class="btn btn-lg border btn-outline-dark">Strobe</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/ledircontroller.js') }}"></script>
{% endblock %}