{% extends 'base.html' %}

{% block title %}LED Controller{% endblock %}

{% block content %}

    <!-- Colors -->
    <div class="col-xl-8 col-md-12 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Colors</h5>

                <div class="row mb-2 text-center">
                    <div class="col mx-auto d-grid gap-2">
                        <button type="button" onclick="clickBtn(this)" class="btn border btn-while" value="White">White</button>
                    </div>
                </div>

                <div class="row mb-2 text-center">
                    <div class="col mx-auto d-grid gap-2">
                        <button type="button" onclick="clickBtn(this)" class="btn border btn-red" value="Red">Red</button>
                    </div>
                    <div class="col mx-auto d-grid gap-2">
                        <button type="button" onclick="clickBtn(this)" class="btn border btn-green" value="Green">Green</button>
                    </div>
                    <div class="col mx-auto d-grid gap-2">
                        <button type="button" onclick="clickBtn(this)" class="btn border btn-blue" value="Blue">Blue</button>
                    </div>
                </div>

                <div class="row mb-2 text-center">
                    <div class="col mx-auto d-grid gap-2">
                        <button type="button" onclick="clickBtn(this)" class="btn border btn-orange" value="Orange">&nbsp;</button>
                    </div>
                    <div class="col mx-auto d-grid gap-2">
                        <button type="button" onclick="clickBtn(this)" class="btn border btn-green-light" value="Green Light">&nbsp;</button>
                    </div>
                    <div class="col mx-auto d-grid gap-2">
                        <button type="button" onclick="clickBtn(this)" class="btn border btn-blue-light" value="Blue Light">&nbsp;</button>
                    </div>
                </div>

                <div class="row mb-2 text-center">
                    <div class="col mx-auto d-grid gap-2">
                        <button type="button" onclick="clickBtn(this)" class="btn border btn-orange-light" value="Orange Light">&nbsp;</button>
                    </div>
                    <div class="col mx-auto d-grid gap-2">
                        <button type="button" onclick="clickBtn(this)" class="btn border btn-cyan" value="Cyan">&nbsp;</button>
                    </div>
                    <div class="col mx-auto d-grid gap-2">
                        <button type="button" onclick="clickBtn(this)" class="btn border btn-purple" value="Purple">&nbsp;</button>
                    </div>
                </div>

                <div class="row mb-2 text-center">
                    <div class="col mx-auto d-grid gap-2">
                        <button type="button" onclick="clickBtn(this)" class="btn border btn-yellow-high" value="Yellow High">&nbsp;</button>
                    </div>
                    <div class="col mx-auto d-grid gap-2">
                        <button type="button" onclick="clickBtn(this)" class="btn border btn-cyan-high" value="Cyan High">&nbsp;</button>
                    </div>
                    <div class="col mx-auto d-grid gap-2">
                        <button type="button" onclick="clickBtn(this)" class="btn border btn-purple-light" value="Purple Light">&nbsp;</button>
                    </div>
                </div>

                <div class="row mb-2 text-center">
                    <div class="col mx-auto d-grid gap-2">
                        <button type="button" onclick="clickBtn(this)" class="btn border btn-yellow" value="Yellow">&nbsp;</button>
                    </div>
                    <div class="col mx-auto d-grid gap-2">
                        <button type="button" onclick="clickBtn(this)" class="btn border btn-cyan-green" value="Cyan Green">&nbsp;</button>
                    </div>
                    <div class="col mx-auto d-grid gap-2">
                        <button type="button" onclick="clickBtn(this)" class="btn border btn-pink" value="Pink">&nbsp;</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Right Pane -->
    <div class="col-xl-4 col-md-12 mb-4">

        <!-- Power -->
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Power</h5>

                        <div class="row mb-2 text-center">
                            <div class="col mx-auto d-grid gap-2">
                                <button type="button" onclick="clickBtn(this)" class="btn border btn-success" value="On">On</button>
                            </div>
                            <div class="col mx-auto d-grid gap-2">
                                <button type="button" onclick="clickBtn(this)" class="btn border btn-danger" value="Off">Off</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Modes -->
        <div class="row">
            <div class="col mx-auto-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Modes</h5>

                        <div class="row mb-2 text-center">
                            <div class="col mx-auto d-grid gap-2">
                                <button type="button" onclick="clickBtn(this)" class="btn border btn-outline-dark" value="Light Min">Light Min</button>
                            </div>
                            <div class="col mx-auto d-grid gap-2">
                                <button type="button" onclick="clickBtn(this)" class="btn border btn-outline-dark" value="Light Max">Light Max</button>
                            </div>
                        </div>
                        <div class="row mb-2 text-center">
                            <div class="col mx-auto d-grid gap-2">
                                <button type="button" onclick="clickBtn(this)" class="btn border btn-outline-dark" value="Fade">Fade</button>
                            </div>
                            <div class="col mx-auto d-grid gap-2">
                                <button type="button" onclick="clickBtn(this)" class="btn border btn-outline-dark" value="Smooth">Smooth</button>
                            </div>
                        </div>
                        <div class="row mb-2 text-center">
                            <div class="col mx-auto d-grid gap-2">
                                <button type="button" onclick="clickBtn(this)" class="btn border btn-outline-dark" value="Flash">Flash</button>
                            </div>
                            <div class="col mx-auto d-grid gap-2">
                                <button type="button" onclick="clickBtn(this)" class="btn border btn-outline-dark" value="Strobe">Strobe</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/ledircontroller.js') }}"></script>
{% endblock %}