{% extends 'base.html' %}

{% block title %}PiVPN{% endblock %}

{% block content %}

    <!-- Revoke Modal -->
    <div class="modal fade" id="revokeModal" tabindex="-1" aria-labelledby="revokeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="revokeModalLabel">Revoke Confirm</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to revoke this profile: <b><span id="profileName"></span></b>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" onclick="revoke()">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Profiles -->
    <div class="container">
        <div class="row row-cols-1 row-cols-md-4 g-4" id="profiles"></div>
    </div>

{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/pivpn.js') }}"></script>
{% endblock %}