{% extends 'base.html' %}

{% block content %}
    <!-- History View -->

    <div class="input-group d-flex justify-content-center mb-2">
        <span class="input-group-text">Time Delta</span>
        <label><input style="width: 100px;" class="form-control" type="number" id="numberTime" value="12" min="1"></label>
        <label><select style="width: 100px;" class="form-select" id="unitTime">
            <option selected value="hour">Hour</option>
            <option value="day">Day</option>
            <option value="week">Week</option>
        </select></label>
        <span class="input-group-text">HW Metric</span>
        <label><select style="width: 100px;" class="form-select" id="hwMetric">
            <option selected value="CPU">CPU</option>
            <option value="Memory">Memory</option>
            <option value="918">918</option>
            <option value="SDCard">SDCard</option>
            <option value="Temperature">Temperature</option>
            <option value="AmbientHumidityTemperature">Ambient</option>
        </select></label>
        <button class="btn btn-outline-secondary" type="button" onclick="goBtn()">Go</button>
    </div>

    <div class="row" id="charts">
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/highcharts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/series-label.js') }}"></script>
    <script src="{{ url_for('static', filename='js/exporting.js') }}"></script>
    <script src="{{ url_for('static', filename='js/export-data.js') }}"></script>
    <script src="{{ url_for('static', filename='js/accessibility.js') }}"></script>
    <script src="{{ url_for('static', filename='js/history.js') }}"></script>
{% endblock %}