<!DOCTYPE html>
<html lang="en" data-lt-installed="true">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Raspberry Pi Hardware Monitor</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Raspberry Pi Hardware Monitor" />
    <meta name="author" content="xhico" />

    <!-- Favicon-->
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Custom -->
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
</head>

<body class="d-flex flex-column h-100">

    <!-- Fixed navbar -->
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" />&nbsp;RPi-Monitor
                    <sub id="rpiName">(x3-ubuntusrv-vm)</sub>
                </a>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Begin page content -->
    <main class="flex-shrink-0">
        <div class="container-fluid column-fluid">

            <div class="row py-4 border-bottom">
                <!-- Version -->
                <div class="col border-end">
                    <div class="Title"><img src="{{ url_for('static', filename='images/version.png') }}"
                            alt="Version" /> &nbsp;Version</div>
                    <div class="Text">
                        <p>Processor:<b><span id="Version_Processor"></span></b></p>
                        <p>Distribution: <b><span id="Version_Distribution"></span></b></p>
                        <p>Kernel version: <b><span id="Version_Kernel"></span></b></p>
                        <p>Firmware: <b><span id="Version_Firmware"></span></b></p>
                    </div>
                </div>
                <!-- Uptime -->
                <div class="col">
                    <div class="Title"><img src="{{ url_for('static', filename='images/uptime.png') }}" alt="Uptime" />
                        &nbsp;Uptime</div>
                    <div class="Text">
                        <p>Date Now: <b><span id="Uptime_Date_Now"></span></b></p>
                        <p>Boot Time: <b><span id="Uptime_Boot_Time"></span></b></p>
                        <p>Uptime: <b><span id="Uptime_Uptime"></span></b></p>
                    </div>
                </div>
            </div>

            <div class="row py-4 border-bottom">
                <!-- CPU -->
                <div class="col border-end">
                    <div class="Title"><img src="{{ url_for('static', filename='images/cpu.png') }}" alt="CPU" />
                        &nbsp;CPU</div>
                    <div class="Text">
                        <div class="progress mb-4">
                            <div id="CPU_Percentage" class="progress-bar" role="progressbar" aria-valuemin="0"
                                aria-valuemax="100"></div>
                        </div>
                        <p>Cores: <b><span id="CPU_Cores"></span></b></p>
                        <p>Frequency (MHz): <b><span id="CPU_Frequency"></span></b></p>
                        <p>Processes: <b><span id="CPU_PIDs"></span></b></p>
                    </div>
                </div>
                <!-- Temperature -->
                <div class="col">
                    <div class="Title"><img src="{{ url_for('static', filename='images/cpu_temp.png') }}"
                            alt="Temperature" />&nbsp;Temperature</div>
                    <div class="Text">
                        <div class="progress mb-4">
                            <div id="CPU_Temperature" class="progress-bar" role="progressbar" aria-valuemin="30"
                                aria-valuemax="80">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row py-4 border-bottom">
                <!-- Memory -->
                <div class="col border-end">
                    <div class="Title"><img src="{{ url_for('static', filename='images/memory.png') }}" alt="Memory" />
                        &nbsp;Memory</div>
                    <div class="Text">
                        <p>Used: <b><span id="Memory_Used"></span></b></p>
                        <p>Available: <b><span id="Memory_Available"></span></b></p>
                        <p>Total: <b><span id="Memory_Total"></span></b></p>
                        <div class="progress">
                            <div id="Memory_Percentage" class="progress-bar" role="progressbar" aria-valuemin="0"
                                aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <!-- SDCard -->
                <div class="col">
                    <div class="Title"><img src="{{ url_for('static', filename='images/sd.png') }}" alt="SD card" />
                        &nbsp;SD card</div>
                    <div class="Text">
                        <p><b>/</b></p>
                        <p>Used: <b><span id="Disks_SDCard_Used"></span></b></p>
                        <p>Free: <b><span id="Disks_SDCard_Free"></span></b></p>
                        <p>Total: <b><span id="Disks_SDCard_Total"></span></b></p>
                        <div class="progress mb-4">
                            <div id="Disks_SDCard_Percentage" class="progress-bar" role="progressbar" aria-valuemin="0"
                                aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row py-4 border-bottom">
                <!-- Wired Network -->
                <div class="col border-end">
                    <div class="Title"><img src="{{ url_for('static', filename='images/network.png') }}"
                            alt="Wired Network" /> &nbsp;Wired Network</div>
                    <div class="Text">
                        <p>Sent: <b><span id="Network_Wired_Sent"></span></b></p>
                        <p>Received: <b><span id="Network_Wired_Received"></span></b></p>
                        <p>Packets (Sent): <b><span id="Network_Wired_Packets_Sent"></span></b></p>
                        <p>Packets (Received): <b><span id="Network_Wired_Packets_Received"></span></b></p>
                        <p>Errors (Sent): <b><span id="Network_Wired_Errors_Sent"></span></b></p>
                        <p>Errors (Received): <b><span id="Network_Wired_Errors_Received"></span></b></p>
                        <p>Dropped (Sent): <b><span id="Network_Wired_Dropped_Sent"></span></b></p>
                        <p>Dropped (Received): <b><span id="Network_Wired_Dropped_Received"></span></b></p>
                    </div>
                </div>
                <!-- 918 -->
                <div class="col">
                    <div class="Title"><img src="{{ url_for('static', filename='images/usb_hdd.png') }}"
                            alt="SD card" />
                        &nbsp;918</div>
                    <div class="Text">
                        <p><b>/media/pi/918</b></p>
                        <p>Used: <b><span id="Disks_918_Used"></span></b></p>
                        <p>Free: <b><span id="Disks_918_Free"></span></b></p>
                        <p>Total: <b><span id="Disks_918_Total"></span></b></p>
                        <div class="progress mb-4">
                            <div id="Disks_918_Percentage" class="progress-bar" role="progressbar" aria-valuemin="0"
                                aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row py-4 border-bottom">
                <!-- Wifi Network -->
                <div class="col border-end">
                    <div class="Title"><img src="{{ url_for('static', filename='images/wifi.png') }}" alt="Network" />
                        &nbsp;Wifi Network</div>
                    <div class="Text">
                        <p>Sent: <b><span id="Network_Wifi_Sent"></span></b></p>
                        <p>Received: <b><span id="Network_Wifi_Received"></span></b></p>
                        <p>Packets (Sent): <b><span id="Network_Wifi_Packets_Sent"></span></b></p>
                        <p>Packets (Received): <b><span id="Network_Wifi_Packets_Received"></span></b></p>
                        <p>Errors (Sent): <b><span id="Network_Wifi_Errors_Sent"></span></b></p>
                        <p>Errors (Received): <b><span id="Network_Wifi_Errors_Received"></span></b></p>
                        <p>Dropped (Sent): <b><span id="Network_Wifi_Dropped_Sent"></span></b></p>
                        <p>Dropped (Received): <b><span id="Network_Wifi_Dropped_Received"></span></b></p>
                    </div>
                </div>
                <!-- Empty -->
                <div class="col">
                    <div class="Title"></div>
                    <div class="Text">
                    </div>
                </div>
            </div>

        </div>
    </main>

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>