<!DOCTYPE html>
<html lang="en" data-lt-installed="true">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Raspberry Pi Hardware Monitor</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Raspberry Pi Hardware Monitor" />
    <meta name="author" content="xhico" />

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Custom -->
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
</head>

<body class="d-flex flex-column h-100">

    <!-- Fixed navbar -->
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" />&nbsp;RPi-Monitor
                    <sub id="rpiName">(x3-ubuntusrv-vm)</sub>
                </a>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Begin page content -->
    <main class="flex-shrink-0">
        <div class="container-fluid column-fluid">

            <div class="row py-4 border-bottom">
                <!-- Geral -->
                <div class="col border-end">
                    <div class="Title"><img src="{{ url_for('static', filename='images/version.png') }}"
                            alt="Version" /> &nbsp;Version</div>
                    <div class="Text">
                        <p>Processor:<b id="processor">Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz</b></p>
                        <p>Distribution: <b id="distribution">Ubuntu 20.04.3 LTS</b></p>
                        <p>Kernel version: <b id="kernel">Linux 5.4.0-81-generic x86_64</b></p>
                        <p>Firmware: <b id="firmware">#91</b></p>
                    </div>
                </div>
                <!-- Uptime -->
                <div class="col">
                    <div class="Title"><img src="{{ url_for('static', filename='images/uptime.png') }}" alt="Uptime" />
                        &nbsp;Uptime</div>
                    <div class="Text">
                        <p>Date Now: <b id="DateNow">{{ conf.General.Date_Now }}</b></p>
                        <p>Boot Time: <b id="BootTime">{{ conf.General.Boot_Time }}</b></p>
                        <p>Uptime: <b id="Uptime">{{ conf.General.Uptime }}</b></p>
                    </div>
                </div>
            </div>

            <div class="row py-4 border-bottom">
                <!-- CPU -->
                <div class="col border-end">
                    <div class="Title"><img src="{{ url_for('static', filename='images/cpu.png') }}" alt="CPU" />
                        &nbsp;CPU</div>
                    <div class="Text">
                        <div class="progress mb-4">
                            <div id="cpuPercentage" class="progress-bar" role="progressbar" style="width: 25%;"
                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%
                            </div>
                        </div>
                        <p>Cores: <b id="cpuCores">4</b></p>
                        <p>Frequency (MHz): <b id="cpuFrequency">700.0</b></p>
                    </div>
                </div>
                <!-- Temperature -->
                <div class="col">
                    <div class="Title"><img src="{{ url_for('static', filename='images/cpu_temp.png') }}"
                            alt="Temperature" />&nbsp;Temperature</div>
                    <div class="Text">
                        <div class="progress mb-4">
                            <div id="cpuPercentageC" class="progress-bar" role="progressbar" style="width: 25%;"
                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%
                            </div>
                        </div>
                        <div class="progress">
                            <div id="cpuPercentageF" class="progress-bar" role="progressbar" style="width: 25%;"
                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row py-4 border-bottom">
                <!-- Memory -->
                <div class="col border-end">
                    <div class="Title"><img src="{{ url_for('static', filename='images/memory.png') }}" alt="Memory" />
                        &nbsp;Memory</div>
                    <div class="Text">
                        <p>Used: <b id="memUsed">577.70MB</b> Available:<b id="memAvailable">3.25GB</b> Total: <b
                                id="memTotal">3.82GB</b></p>
                        <div class="progress">
                            <div id="memPercentage" class="progress-bar" role="progressbar" style="width: 25%;"
                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Disks -->
                <div class="col">
                    <div class="Title"><img src="{{ url_for('static', filename='images/sd.png') }}" alt="SD card" />
                        &nbsp;SD card</div>
                    <div class="Text">
                        <p>
                            <b>/</b> Used: <b id="SDCardUsed">106.02MB</b> (<b id="SDCardPercentage">10.86%</b>) Free:
                            <b id="SDCardAvailable">869.88MB</b> Total:
                            <b id="SDCardTotal">975.90MB</b>
                        </p>
                        <div class="progress mb-4">
                            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                                aria-valuenow="10.86" style="width: 10.86%">10.86%
                            </div>
                        </div>
                        <p><b>/media/pi/918</b> Used: <b id="918Used">106.02MB</b> (<b
                                id="918Percentage">10.86%</b>)Free:<b id="918Available">869.88MB</b> Total:<b
                                id="918Total">975.90MB</b></p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                                aria-valuenow="26.03" style="width: 26.03%">26.03%
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row py-4 border-bottom">
                <!-- Network -->
                <div class="col border-end">
                    <div class="Title"><img src="{{ url_for('static', filename='images/network.png') }}"
                            alt="Network" /> &nbsp;Network</div>
                    <div class="Text">
                        <p>Sent (MB): <b id="network_sent">2360</b></p>
                        <p>Received (MB): <b id="network_received">33</b></p>
                        <p>Packets (Sent): <b id="network_packets_sent">1708610</b></p>
                        <p>Packets (Received): <b id="network_packets_received">335330</b></p>
                        <p>Errors (Sent): <b id="network_errors_sent">0</b></p>
                        <p>Errors (Received): <b id="network_errors_received">0</b></p>
                        <p>Dropped (Sent): <b id="network_dropped_sent">0</b></p>
                        <p>Dropped (Received): <b id="network_dropped_received">0</b></p>
                    </div>
                </div>
                <!-- Empty -->
                <div class="col">
                    <div class="Title"></div>
                    <div class="Text"></div>
                </div>
            </div>

        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>