{% extends 'base.html' %}

{% block content %}
    <!-- Version -->
    <div id="versionSection" class="col-xl-3 col-md-6 border-bottom border-end">
        <div class="text-center"><img src="{{ url_for('static', filename='images/version.png') }}" alt="Version"/>Version</div>
        <div class="text-center">
            <p>Processor: <b><span id="Version_Processor"></span></b></p>
            <p>Distribution: <b><span id="Version_Distribution"></span></b></p>
            <p>Kernel version: <b><span id="Version_Kernel"></span></b></p>
            <p>Firmware: <b><span id="Version_Firmware"></span></b></p>
        </div>
    </div>

    <!-- Uptime -->
    <div id="UptimeSection" class="col-xl-3 col-md-6 border-bottom border-end">
        <div class="text-center"><img src="{{ url_for('static', filename='images/uptime.png') }}" alt="Uptime"/>Uptime</div>
        <div class="text-center">
            <p>Date Now: <b><span id="Uptime_Date_Now"></span></b></p>
            <p>Boot Time: <b><span id="Uptime_Boot_Time"></span></b></p>
            <p>Uptime: <b><span id="Uptime_Uptime"></span></b></p>
        </div>
    </div>

    <!-- Temperature -->
    <div id="TemperatureSection" class="col-xl-3 col-md-6 border-bottom border-end">
        <div class="text-center"><img src="{{ url_for('static', filename='images/cpu_temp.png') }}" alt="Temperature"/>Temperature</div>
        <div id="TemperatureGaugeSection" class="text-center">
            <canvas id="Temperature_Gauge"></canvas>
            <p><b><span id="Temperature"></span></b></p>
        </div>
    </div>

    <!-- Ambient -->
    <div id="AmbientSection" class="col-xl-3 col-md-6 border-bottom border-end">
        <div class="text-center"><img src="{{ url_for('static', filename='images/ambient.png') }}" alt="Ambient"/>Ambient</div>
        <div class="text-center">
            <p class="col">Date: <b><span id="Ambient_Date"></span></b></p>
            <p class="col">Temperature: <b><span id="Ambient_TemperatureC"></span></b> | <b><span id="Ambient_TemperatureF"></span></b></p>
            <p class="col">Humidity: <b><span id="Ambient_Humidity"></span></b></p>
            <p class="col">Valid: <b><span id="Ambient_Valid"></span></b></p>
        </div>
    </div>

    <!-- CPU -->
    <div id="CPUSection" class="col-xl-3 col-md-6 border-bottom border-end">
        <div class="text-center"><img src="{{ url_for('static', filename='images/cpu.png') }}" alt="CPU"/>CPU</div>
        <div class="text-center">
            <div class="row px-4">
                <p class="col">Cores: <b><span id="CPU_Cores"></span></b></p>
                <p class="col">Voltage: <b><span id="CPU_Voltage"></span></b></p>

                <div class="w-100"></div>

                <p class="col">Processes: <b><span id="CPU_PIDs"></span></b></p>
                <p class="col">Frequency: <b><span id="CPU_Frequency"></span></b></p>

                <div class="w-100"></div>

                <p class="col"></p>
                <p class="col"></p>
            </div>

            <div class="progress mb-4 mx-4 progress-20-div">
                <div id="CPU_Percentage" class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>

    <!-- Memory -->
    <div id="MemorySection" class="col-xl-3 col-md-6 border-bottom border-end">
        <div class="text-center"><img src="{{ url_for('static', filename='images/memory.png') }}" alt="Memory"/>Memory</div>
        <div class="text-center">
            <p>Used: <b><span id="Memory_Used"></span></b></p>
            <p>Available: <b><span id="Memory_Available"></span></b></p>
            <p>Total: <b><span id="Memory_Total"></span></b></p>
            <div class="progress mb-4 mx-4 progress-20-div">
                <div id="Memory_Percentage" class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>

    <!-- SDCard -->
    <div id="SDCardSection" class="col-xl-3 col-md-6 border-bottom border-end">
        <div class="text-center"><img src="{{ url_for('static', filename='images/sd.png') }}" alt="SD card"/>SD card</div>
        <div class="text-center">
            <p>Used: <b><span id="Disks_SDCard_Used"></span></b></p>
            <p>Free: <b><span id="Disks_SDCard_Free"></span></b></p>
            <p>Total: <b><span id="Disks_SDCard_Total"></span></b></p>
            <div class="progress mb-4 mx-4 progress-20-div">
                <div id="Disks_SDCard_Percentage" class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>

    <!-- Wired Network -->
    <div id="WiredSection" class="col-xl-3 col-md-6 border-bottom border-end">
        <div class="text-center"><img src="{{ url_for('static', filename='images/network.png') }}" alt="Wired Network"/>Wired Network</div>
        <div class="text-center">
            <p class="col">Sent: <b><span id="Network_Wired_Sent"></span></b></p>
            <p class="col">Received: <b><span id="Network_Wired_Received"></span></b></p>
            <p class="col">Packets (Sent): <b><span id="Network_Wired_Packets_Sent"></span></b></p>
            <p class="col">Packets (Received): <b><span id="Network_Wired_Packets_Received"></span></b></p>
        </div>
    </div>

    <!-- Wifi Network -->
    <div id="WifiSection" class="col-xl-3 col-md-6 border-bottom border-end">
        <div class="text-center"><img src="{{ url_for('static', filename='images/wifi.png') }}" alt="Network"/>Wifi Network</div>
        <div class="text-center">
            <p class="col">Sent: <b><span id="Network_Wifi_Sent"></span></b></p>
            <p class="col">Received: <b><span id="Network_Wifi_Received"></span></b></p>
            <p class="col">Packets (Sent): <b><span id="Network_Wifi_Packets_Sent"></span></b></p>
            <p class="col">Packets (Received): <b><span id="Network_Wifi_Packets_Received"></span></b></p>
        </div>
    </div>

    <!-- 918 -->
    <div id="918Section" class="col-xl-3 col-md-6 border-bottom border-end">
        <div class="text-center"><img src="{{ url_for('static', filename='images/usb_hdd.png') }}" alt="SD card"/>918</div>
        <div class="text-center">
            <p class="col">Used: <b><span id="Disks_918_Used"></span></b></p>
            <p class="col">Free: <b><span id="Disks_918_Free"></span></b></p>
            <p class="col">Total: <b><span id="Disks_918_Total"></span></b></p>
            <div class="progress mb-4 mx-4 progress-20-div">
                <div id="Disks_918_Percentage" class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/stats.js') }}"></script>
    <script>
        updateSections();
    </script>
{% endblock %}