.border-md-right {
    border-right: 1px solid silver;
}

.border-md-left {
    border-left: 1px solid silver;
}

.border-md-top {
    border-top: none;
}

.border-md-bottom {
    border-bottom: none;
}

@media (max-width: 768px) {
    .border-md-right {
        border-right: none;
    }

    .border-md-left {
        border-left: none;
    }

    .border-md-top {
        border-top: 1px solid silver;
    }

    .border-md-bottom {
        border-bottom: 1px solid silver;
    }
}

.progress-20-div {
    height: 20px;
}

.form-check-input:checked {
    background-color: #198754;
    border-color: #198754;
}

.margin-0 {
    margin: 0;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
    background: rgba(255, 255, 255, 0.5);
    transition: opacity 0.2s;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-red {
    background-color: #ff0000;
    color: white;
}

.btn-red:hover {
    background-color: #ff0000;
    color: white;
}

.btn-green {
    background-color: #008000;
    color: white;
}

.btn-green:hover {
    background-color: #008000;
    color: white;
}

.btn-green-light {
    background-color: #90ee90;
}

.btn-green-light:hover {
    background-color: #90ee90;
}

.btn-blue {
    background-color: #0000ff;
    color: white;
}

.btn-blue:hover {
    background-color: #0000ff;
    color: white;
}

.btn-blue-light {
    background-color: #add8e6;
}

.btn-blue-light:hover {
    background-color: #add8e6;
}

.btn-white {
    background-color: #ffffff;
}

.btn-white:hover {
    background-color: #ffffff;
}

.btn-orange {
    background-color: #ffa500;
}

.btn-orange:hover {
    background-color: #ffa500;
}

.btn-orange-light {
    background-color: #ffd700;
}

.btn-orange-light:hover {
    background-color: #ffd700;
}

.btn-cyan {
    background-color: #00ffff;
}

.btn-cyan:hover {
    background-color: #00ffff;
}

.btn-cyan-high {
    background-color: #00ced1;
}

.btn-cyan-high:hover {
    background-color: #00ced1;
}

.btn-cyan-green {
    background-color: #7fffd4;
}

.btn-cyan-green:hover {
    background-color: #7fffd4;
}

.btn-purple {
    background-color: #800080;
}

.btn-purple:hover {
    background-color: #800080;
}

.btn-purple-light {
    background-color: #9932cc;
}

.btn-purple-light:hover {
    background-color: #9932cc;
}

.btn-yellow {
    background-color: #ffff00;
}

.btn-yellow:hover {
    background-color: #ffff00;
}

.btn-yellow-high {
    background-color: #ffd700;
}

.btn-yellow-high:hover {
    background-color: #ffd700;
}

.btn-pink {
    background-color: #ffc0cb;
}

.btn-pink:hover {
    background-color: #ffc0cb;
}

.log-text-info {
    color: #478FEF;
}

.log-text-warning {
    color: #F7CD45;
}

.log-text-error {
    color: #E16866;
}

.log-text-debug {
    color: #8686F7;
}

.log-text-ok {
    color: #94D065;
}