.progress-20-div {
    height: 20px;
}

.border-md-right {
    border-right: 1px solid silver;
}

.border-md-left {
    border-left: 1px solid silver;
}

.border-md-top {
    border-top: none;
}

.border-md-bottom {
    border-bottom: none;
}

.form-check-input:checked {
    background-color: #198754;
    border-color: #198754;
}

.margin-0 {
    margin: 0;
}

@media (max-width: 768px) {
    .border-md-right {
        border-right: none;
    }

    .border-md-left {
        border-left: none;
    }

    .border-md-top {
        border-top: 1px solid silver;
    }

    .border-md-bottom {
        border-bottom: 1px solid silver;
    }
}

